body {
  position: relative;
  margin: 0;
  z-index: -1;
  color: rgb(127, 10, 195);
}

header {
  top: 10px;
  left: 0;
  width: 100%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 22pt;
  text-shadow: 5px 5px 5px black;
  z-index: 1000;
}

.intro-container {
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.intro-container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.intro-container p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

.img-container figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  margin: 50px;
}

.img-container img {
  display: flex;
  margin: 10px;
  width: 250px;
  height: auto;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
}

.img-container img:hover {
  transform: scale(1.1);
  border: 3px solid rgb(127, 10, 195);
}

.img-container figcaption {
  margin-top: 10px;
  font-size: 26px;
  color: black;
  font-weight: bold;
}